html {
    font-size: 10pt;
}

body {
    background-image: linear-gradient(white, black);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px double green;
    width: 55%;
    padding: 25px;
    margin: 30px;
    background-image: linear-gradient(to top left, black, white);
}

footer {
    color: white;
    width: 100%;
    text-align: center;
}

h1 {
    color: green;
    text-decoration: underline;
}

footer a:link, footer a:visited {
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

col:nth-of-type(2) {
    background-color: lightgreen;
}

col:nth-of-type(3) {
    background-color: lightpink;
}

thead tr:first-child {
    text-transform: uppercase;
}

thead tr a {
    text-decoration: none;
}

thead tr:last-child {
    text-decoration: underline;
}

tbody tr:nth-of-type(2n+1) {
    background-color: rgba(255, 255, 153, 50%);
} 

tbody tr:nth-of-type(2n) {
    background-color: rgba(153, 255, 255, 50%);
} 

td {
    text-align: center;
}

@media (max-width: 480px) {
    html {
        font-size: 11pt;
    }

    main {
        width: 70%;
    }

    table {
        font-size: 7pt;
    }
}

